<!DOCTYPE html>
<html>
<head>
    <title>AXA Classification Task </title>
</head>
<body>
    <h1 align="center">Deployment task for testing purpose</h1>
    <fieldset align="'center'">
        <form action='/calculate' method="POST" enctype="multipart/form-data">
            <label>Select CSV file with test data </label>
            <input type="file" name="data_file"/>
            <button type="submit">Predict</button>
        </form>
    </fieldset>
    <h2>{{prediction_text}}</h2>
</body>
</html>