<!DOCTYPE html>
<html>
<head>
    <title> Classification Task</title>
</head>
<body>
    <h1 align="center"> AXA test deployment</h1>
    <fieldset align="center">
        <br />
        <br />
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <label>Select the CSV file with test data</label>
            <input type="file" name="data_file" />
            <button type="submit"> Predict</button>
        </form>
    </fieldset>
    <h2>{{prediction_text}}</h2>
</body>
</html>